:root {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: left;
  background-color: #181818;
  text-align: left;
  padding: 32px 64px;
}

body {
  margin: 0;
}