@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Variable.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: left;
  background: #1f2028;
  text-align: left;
  padding: 0 64px;
}
