.button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid var(--Primary-400, #7B6EF6);
  background: var(--Primary-400, #7B6EF6);
  max-width: 120px;
  color: #ffffff;
  font-size: 16px;
}